.page-box__diagram {
    height: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-box__diagram__text {
    @include box-text--center;
    margin-bottom: 40px;
    max-width: 865px;
    height: 220px;
}
.diagram__text--header {
    margin-top: 40px;
}

.page-box__diagram__chart {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.chart__left,
.chart__right {
    display: flex;
    width: 48%;
    height: 200px;
    background: rgb(235,235,235);
}
.chart__left {
    margin-right: 30px;
}
.diagram__chart--icon {
    height: 100%;
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diagram__chart--list {
    flex-grow: 6;
    color: rgb(84, 84, 84);
}
.chart--header {
    padding-left: 20px;
    margin-bottom: 0;
}
.chart--list {
    list-style: none;
    padding: 0;
}
.chart--item {
    padding: 5px 0;
    font-size: 20px;
}
.chart--item::before {
    content: "+";
    margin-right: 4px;
}

.chart__pipe {
  width: 580px;
  height: 120px;
  border: 15px solid rgb(177,177,177);
  border-top: transparent;
  display: flex;
  justify-content: center;
}
.chart__pipe--box {
  width: 360px;
  height: 130px;
  background: rgb(177,177,177);
  position: relative;
  bottom: -40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.chart__pipe--box--header {
    width: 100%;
    margin-bottom: 0;
    font-size: 30px;
    color: #fff;
}
.chart__pipe--box--text {
    font-size: 24px;
    color: #fff;
}

@media (max-width: 749px) {
    .chart__pipe {
        display: none;
    }
    .chart__left,
    .chart__right {
        margin: 0 auto;
        width: 80%;
    }
    .chart__right {
        margin-top: 10px;
    }
    .diagram__text--header {
        margin: 0;
    }
    .page-box__diagram__text {
        margin: 0;
    }
}
