.page-box__form {
    background-color: $col-background;
    height: 685px;
}
.page-box__form--container {
    max-width: 950px;
}

.page-box__form__text {
    @include box-text--center;
    margin: 0 auto;
}
.page-box__form--header {
    margin-top: 60px;
    margin-bottom: 0;
}

.page-box__form__ticket-box {
    display: flex;
}
.form__ticket-box {
    height: 150px;
    width: 180px;
    background-image: url("../images/ticket.png");
    background-repeat: no-repeat;
}
.form__ticket-text {
    max-width: 550px;
    padding-top: 45px;
}
.form__ticket-line {
    margin-top: 0;
    margin-bottom: 25px;
}

.main-form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 0 auto;
}
.main-form__row {
    display: flex;
    flex-direction: column;
}
.main-form__label {
    padding-top: 10px;
}
.main-form__input {
    padding: 8px;
    font-size: 15px;
    border: 2px solid rgb(212, 212, 212);
}
.main-form__btn {
    height: 50px;
    margin-top: 14px;
    background: red;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 749px) {
    .form__ticket-box {
        display: none;
    }
}
