.page-box__top-bar {
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-box__logo {
    margin: 0;
    height: 100%;
}

.page-box__logo--link {
    display: flex;
    align-items: center;
    height: 100%;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s all;

    &:hover {
        color: $col-windows;
    }
}

.page-box__company {
    height: 100%;
    display: flex;
    align-items: center;
}

.page-box__company__logo {
    margin-right: 30px;
}

.page-box__company__logo--link {
    color: $col-windows;
    text-decoration: none;

    transition: 1s all;

    &:hover {
        color: red;
    }
}
.page-box__company__advert {
    background-color: $col-windows;
    height: 100px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    padding: 5px;
}
